*{
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
p {
    font-size: 24px;
}
body {
    background-image: url(/bg.jpg);
    background-size: cover;
}